/* src/MovieList.css */
.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 300px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-bar button:hover {
    background-color: #21a1f1;
  }
  
  ul {
   
    padding: 10px;
  }
  
  li {
    background: #444;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    color: white;
  }
  
  img {
    max-width: 100px;
  }